# ---- PostgreSQL ----
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

# ---- JWT ----
JWT_SECRET=change_this_too
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000


SENDGRID_API_KEY=<your-key>
MAIL_FROM=no-reply@your-domain.com
APP_BASE_URL=http://localhost:8080

APP_COOKIE_SECURE=false
APP_COOKIE_SAMESITE=Lax

# ---- MEDIA (MinIO) ----
MEDIA_BUCKET=fitness-media
MEDIA_REGION=eu-central-1
MEDIA_ENDPOINT=http://host.docker.internal:9000
MEDIA_ACCESS_KEY=minioadmin
MEDIA_SECRET_KEY=minioadmin123
MEDIA_PRESIGN_DURATION=15m


STRIPE_PUBLISHABLE_KEY=spk_test
STRIPE_SECRET_KEY=ssk_test
STRIPE_WEBHOOK_SECRET=sws_test